<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CJBBeautifulPhoto.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>74F0E4B81D7520FC008F7890</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74F0E4D11D7520FC008F7890</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74F0E4DC1D7520FC008F7890</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
